header {
  width: 100vw;
  height: 150px;
  background-color: #283618;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
header li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 65px;
  background-color: #606c38;
  border-radius: 20px;
}
header li:hover {
  background-color: #dda15e;
}
header li a {
  color: black;
  font-size: 1.5em;
  text-align: center;
}
/****SECTION AJOUTER UN UTILISATEUR********/
section {
  width: 75%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #283618;
  border-radius: 25px;
}
/***titre section**/
section li:nth-child(1) {
  width: 65%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 4%;
  margin-bottom: 2%;
  background-color: #bc6c25;
  border: 4px solid #1c1e1c;
  box-shadow: 0 0 0 1px #1c1e1c;
}
section li:nth-child(1) a {
  font-weight: bold;
  color: #1c1e1c;
  font-size: 2.5em;
}
/****formulaire pour ajouter/modifer un utilisateur***/
form {
  width: 75vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*******FORMULAIRE INPUT*******/
form input {
  border: 2px solid #bc6c25;
  outline: none;
  height: 50px;
  width: 45%;
  border-radius: 20px;
  background-color: #1c1e1c;
  margin-bottom: 1%;
  padding-left: 1%;
  font-size: 1.3em;
  color: #bc6c25;
}
form input:hover{
  border: 2px solid #FEFAE0;
  color:#FEFAE0;
  background-color: #bc6c25;
  border-radius: 25px;
}
/**on desactive l'affichage des labels pour épurer*/
form label {
  display: none;
}
/*placeholder text opacity*/
form input::placeholder {
  opacity: 1;
  color: #fff;
}
/***********SUBMIT BUTTON*********/
form button {
  height: 50px;
  width: 200px;
  outline: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #FEFAE0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 3px solid #bc6c25;
  border-radius: 20px;
  background-color: #1c1e1c;
}
/*hover*/
form button:hover {
  background-color: #bc6c25;
  border: 3px solid #FEFAE0;
  border-radius: 25px;
  color: #FEFAE0;
}
/*active*/
form button:active {
  box-shadow: 0 2px #bc6c25;
  transform: translateY(4px);
  transform: scale(0.9);
}
/*https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25*/
