header {
  width: 100vw;
  height: 100px;
  background-color: #283618;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
}
.acceuil_formproj {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
header li a:hover {
  background-color: #dda15e;
}
header li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 65px;
  background-color: #606c38;
  border-radius: 20px;
}
.liste_formproj {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 65px;
  background-color: #606c38;
  border-radius: 20px;
  margin-left: 10px;
}

header li:hover {
  background-color: #dda15e;
}
header li a {
  color: black;
  font-size: 1.5em;
  text-align: center;
}
/*****SECTION****/
section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 600px;
  background-color: #283618;
  border-radius: 25px;
}
section li{
    width: 45%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: #BC6C25;
    border: 4px solid #1c1e1c;
    box-shadow: 0 0 0 1px #1c1e1c;
}
section li a{
    font-weight: bold;
    color: #1c1e1c;
    font-size: 2.5em;
}