*{
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: hidden;
    color: black;
}
body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #FEFAE0; */
    background-image: url(./../img/dev.png);
}
nav{
    width: 100vw;
    height: 100px;
    background-color: #283618;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    padding-left: 2%;
    width: 100px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:85% ;
  }
  ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 275px;
    height: 65px;
    border-radius: 20px;
    background-color: #BC6C25;
    border: 4px solid #1c1e1c;
  }
  ul li a{
    color: #1c1e1c;
    font-size: 1.7em;
    font-weight: 700;
  }
  ul li:hover{
    background-color: #DDA15E;
  }
  /**deconnexion bouton*/
  ul li:nth-child(5){
    background-color: #DDA15E;
    border: solid 4px #1c1e1c;
  }
  ul li:nth-child(5):hover{
    background-color: #1c1e1c;
    border: solid 4px #FEFAE0;
  }
  ul li:nth-child(5) a{
    color: #1c1e1c;
  }
  ul li:nth-child(5):hover a{
    color: #FEFAE0;
  }

 
